<div class="col-md-8 col-md-offset-2 container">
	<div class="page-header">
		<h2>
			<div id="hi">Hello</div> <input type="text"  id="inputtingbox" class="form-control"> <sup><span class="glyphicon glyphicon-pencil"></span></sup>
		</h2>
	</div>
	<div class="col-md-6 sign-up-socmedia">
		<div class="col-md-12" id="twitter">
			<h3>Twitter <a href="#" class="btn btn-primary btn-success sign-up-buttons"><span class="glyphicon glyphicon-ok"></span> Connecter to Twitter</a></h3>
		</div>
		<div class="col-md-12" id="facebook">
			<h3>Facebook <a href="#" class="btn btn-primary btn-primary sign-up-buttons"> Connect to Facebook</a></h3>
		</div>
		<div class="col-md-12" id="instagram">
			<h3>Instagram <a href="#" class="btn btn-primary btn-primary sign-up-buttons"> Connect to Instagram</a></h3>
		</div>
		<p class="col-md-12 text-info">
			</br>*Alternatively, you can connect these later.
		</p>
		<div class="col-md-12">
			<a href="#" class="btn btn-primary btn-primary sign-up-paypal"><span class="glyphicon glyphicon-hand-up"></span> Click to connect your PayPal.</a>
		</div>
		<div class="col-md-12 alert alert-danger" id="error" role="alert">
			<a href="#" class="alert-link col-md-12 text-danger">Error: Your detailes did not link with PayPal.</a>
		</div>
	</div>
</div>