    <div class="dashboard">
    	<div class="row firstpart">
			<div class="col-md-4" id="dashboard-accounts">
				<h2 class = "page-header" id="dashboard-acc-heading">Accounts</h2>
				<div class="dashboard-twitter">
					<h4 class="dashboard-text">Twitter</h4>
					<a href="#" class="btn btn-primary btn-info dashboard-button"><span class="glyphicon glyphicon-ok"></span>Connected to Twitter</a>
				</div>
				<br><br>
				<div class="dashboard-facebook">
					<h4 class="dashboard-text">Facebook</h4>
					<a href="#" class="btn btn-primary btn-info dashboard-button"><span class="glyphicon glyphicon-ok"></span>Connected to Facebook</a>
				</div>
				<br><br>
				<div class="dashboard-instagram">
					<h4 class="dashboard-text">Instagram</h4>
					<a href="#" class="btn btn-primary btn-info dashboard-button"><span class="glyphicon glyphicon-ok"></span>Connected to Instagram</a>
				</div>
			</div>
			<div class="col-md-8 pull-right">
				<h2 id="dashboard-recent" class = "page-header">Recent Donations</h2>
				<div class="donations">
					<div id="first">
						<%=image_tag "donation.png", class: "dashboard-donation-image"%>
						<p class="dashboard-donation-text">You have donated £10 to HIMYM on 1st of December 2013 for the Barney campaign through Twitter.</p>
					</div>
					<div id="first">
						<%=image_tag "donation.png", class: "dashboard-donation-image"%>
						<p class="dashboard-donation-text">You have donated £10 to HIMYM on 1st of December 2013 for the Barney campaign through Twitter.</p>
					</div>
					<div id="first">
						<%=image_tag "donation.png", class: "dashboard-donation-image"%>
						<p class="dashboard-donation-text">You have donated £10 to HIMYM on 1st of December 2013 for the Barney campaign through Twitter.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row dashboard2">
			<h2 class = "page-header">My Campaigns</h2>
			<table class="table dashboard-campaigns">
				<thead>
					<tr>
						<th>Campaign Name</th>
						<th>Start time</th>
						<th>Finnish time</th>
						<th>Charity sponsored</th>
						<th>Raised so far</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Run for a marathon</td>
						<td>01 June 2014</td>
						<td>04 July 2014</td>
						<td>Comic Relief</td>
						<td>£500</td>
					</tr>
					<tr>
						<td>Run for a marathon</td>
						<td>01 June 2014</td>
						<td>04 July 2014</td>
						<td>Comic Relief</td>
						<td>£500</td>
					</tr>
					<tr>
						<td>Run for a marathon</td>
						<td>01 June 2014</td>
						<td>04 July 2014</td>
						<td>Comic Relief</td>
						<td>£500</td>
					</tr>
					<tr>
						<td>Run for a marathon</td>
						<td>01 June 2014</td>
						<td>04 July 2014</td>
						<td>Comic Relief</td>
						<td>£500</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>