<h1>Quick Give</h1>
<p>
  James, do some goddamn work and write some content for the homepage.
</p>

<p>
  Rob is fucking awesome and did your job for you. Now go out and fucking learn to drive.
</p>
