<div>
	<div class="above-container">

		<div class="above-visuals">
			<div class="container">
				<div id="home-text">My name is <input type="text" id="searchbox1" class="form-control"> and I am going to do the <input type="text" id="searchbox2" class="form-control"> to raise money for <input type="text" id="searchbox3" class="form-control">. <a href="#" class="btn btn-default home-button"> <span class="glyphicon glyphicon-chevron-right"></span></a></div>
			</div>
		</div>		  	
		<%= image_tag("bg.jpg", class: "background-image") %>
	</div>

	<div class="below-container">
		<div class="container">
			<h3>What makes Quick Give great?</h3>

		</div>
	</div>
</div>
