<div>
	<div class="above-container">

		<div class="above-visuals">
			<div class="container">
				<div id="home-text"><%= form_tag("/pages/handle_home", method: :post) %>My name is <input type="text" id="searchbox1" name="searchbox1" class="form-control" <% if authenticated? %>value=<%= current_user.first_name %><% end %>> and I will <input type="text" id="searchbox2" name="searchbox2" class="form-control"> to raise money for <input type="text" id="searchbox3" name="searchbox3" class="form-control">. <button class="btn btn-default home-button"> <span class="glyphicon glyphicon-chevron-right"></span></button></form></div>

			</div>
		</div>		  	
		<%= image_tag("bg.jpg", class: "background-image") %>
	</div>

	<div class="below-container">
		<div class="container">
			<h3>Some recent campaigns</h3>

		</div>
	</div>
</div>
