<style type="text/css">
	@media (max-width: 991px){
		#home-text{
			font-size: 200%;
			background-color: rgba(255, 255, 255, 0.7);
		}
		#searchbox1{
			width: 100%;
		}
		#searchbox2{
			width: 100%;
		}
		#searchbox3{
			width: 70%;
		}
		body{
			background: url(/assets/bgsmall.jpg) no-repeat center center fixed;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		}
	}

	@media (max-width: 1080px){
		#home-text {
			font-size: 400%;
		}
	}

	@media (max-width: 1080px){
		#home-text {
			font-size: 100%;
		}
	}
</style>

<div>
	<div class="above-container">

		<div class="above-visuals">
			<div class="container">
				<div id="home-text"><%= form_tag("/pages/handle_home", method: :post) %>My name is <input type="text" id="searchbox1" name="searchbox1" autocomplete="off" class="form-control" <% if authenticated? %>value=<%= current_user.first_name %><% end %>> and I will <input type="text" id="searchbox2" name="searchbox2" class="form-control"> to raise money for <input type="text" id="searchbox3" name="searchbox3" class="form-control"> <button class="btn btn-default home-button"> <span class="glyphicon glyphicon-chevron-right"></span></button></form></div>

			</div>
		</div>		  	
		<%= image_tag("bg.jpg", class: "background-image") %>
	</div>

	<div class="below-container">
		<div class="container">
			<h3>Some recent campaigns</h3>

		</div>
	</div>

</div>
