	<h1>Campaigns#create</h1>
	<p>Find me in app/views/campaigns/create.html.erb</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean gravida metus nunc, in laoreet leo hendrerit vitae. Cras euismod felis enim, vitae viverra arcu laoreet quis. Curabitur mollis, nulla ac sollicitudin porttitor, risus lectus interdum ipsum, eu dignissim turpis tortor id arcu. In ante dolor, tristique eget vehicula non, rutrum eget felis. Nam at vestibulum nibh. Sed placerat fermentum tortor, ac venenatis nulla ullamcorper id. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse potenti. Maecenas augue sem, commodo id nulla sed, ultricies tincidunt velit. Vivamus vulputate consectetur consequat.

	Praesent non tellus et lorem laoreet mollis vitae a enim. Duis vel elit euismod ante interdum feugiat a quis elit. Suspendisse non diam ac tellus suscipit ornare vel sed ligula. Vestibulum ultrices dolor viverra diam sagittis, hendrerit condimentum nunc posuere. Donec tempor elit et dui elementum pulvinar. Pellentesque nec lacus ac nibh vulputate pulvinar. Pellentesque sagittis, arcu vitae facilisis tempus, felis velit varius felis, vel scelerisque augue velit sed risus. Phasellus quam orci, volutpat eget nisl sit amet, porttitor malesuada est. Sed ut mollis nulla. Vestibulum et pulvinar libero.

	Suspendisse tincidunt eros id cursus facilisis. Morbi molestie fermentum felis a gravida. Phasellus eros purus, feugiat sed imperdiet sit amet, consectetur non arcu. Vivamus a convallis eros, at laoreet ipsum. Morbi ac felis quis nisl dignissim feugiat accumsan eu erat. Cras lacinia fringilla arcu eu pellentesque. Nam eget ultricies lectus.

	Proin eget commodo leo, vitae pharetra sem. Nam ac erat vitae lorem pulvinar dictum vitae eu augue. Nullam ultricies massa sit amet enim dictum venenatis. Vivamus eget sem et odio cursus feugiat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent magna nunc, ultrices non cursus vitae, convallis et dolor. Integer viverra et justo laoreet lacinia.

	Aliquam hendrerit, sapien sed placerat ultrices, eros nibh rutrum nisl, et mollis mauris elit a dui. Donec eu lobortis eros. Etiam mollis commodo imperdiet. Vestibulum nec eleifend mi. Vivamus posuere euismod tempus. Nullam malesuada, ipsum et vehicula vulputate, risus tellus gravida ante, ac condimentum libero elit varius dolor. Quisque pellentesque pretium mauris, volutpat rhoncus leo vulputate nec. Quisque et enim enim. Sed aliquet placerat fermentum. Phasellus id nibh consequat, pellentesque velit vel, vehicula quam. Donec at leo a tellus lacinia posuere sit amet vitae sapien. Morbi sit amet lectus at lectus adipiscing dignissim at eu tortor. Suspendisse potenti. Integer ultrices nulla mauris, eget faucibus lectus elementum vel. Praesent in diam convallis sem ornare porta eget in purus. Nullam a semper ante.</p>
	<br>
	<br><br>
	<br><br>
	<br><br>
	<br><br>
	<br><br>
	<br><br>
	<br><br>
	<br><br>
	<br><br>
	<br><br>
	<br><br>
	<br><br>
	<br><br>
	<br><br>
	<br><br>
	<br><br>
	<br><br>
	<br><br>
