<div class="container">
	<h3 class="page-header">
		Share Your Campaign
	</h3>
	<div class="col-md-7">
		<div class="col-md-12">
			<h4 class="numbered">Donation amount</h4>
		    <div class="input-group" style="float:right; width:51%;">
			    <span class="input-group-addon">£</span>
		        <input type="text" name="donate-amount" id="donate-amount" class="form-control glyph-input" placeholder="Enter donation amount"/> 
		        <span class="input-group-addon">.00</span>
		    </div>
		</div>
		<div class="col-md-12">
			<textarea class="form-control share-text" rows="3" id="donate-description"></textarea>
		</div>
		<div class="col-md-12">
      <a class="btn btn-primary btn-success margin" id="twitter" href="<%= @twitter_link %>">Post on Twitter</a>
		</div>
		<div class="col-md-12">
      <% if current_user.facebook_authentication? %>
        <a class="btn btn-primary btn-success margin" id="facebook" href="<%= @facebook_link %>">Post on Facebook</a>
      <% else %>
        <a class="btn btn-primary btn-info margin" id="facebook" href="<%= @facebook_link %>">Connect to Facebook & Post</a>
      <% end %>
		</div>
		<div class="col-md-12">
			<button class="btn btn-primary btn-success margin" id="instagram">Connect to Instagram</button>
		</div>
		<div class="col-md-12">
			<button class="btn btn-primary btn-success margin">Create QR code</button>
		</div>
		</div>
	<div class="col-md-4">
		<h4 class="page-header">Share in just 3 simple steps</h4>
		<p>Step 1: Enter the required donation amount</p>
		<p>Step 2: Enter/Edit text to appear as a message</p>
		<p>Step 3: Share via your favourite social media</p>
	</div>
</div>

<script>
  $(document).ready(function() {
    $("a.btn").click(function() {
      var url = $(this).attr("href");
      url += "?text=" + encodeURIComponent("#quick_give #<%= @campaign.slug %> " + "#donate" + $("#donate-amount").val() + "pounds" + " " + $("#donate-description").val());
      window.open(url);
      return false;
    });
  });
</script>
