// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.logo{
	height: 1.5em;
	opacity: 0.7;	
}
.row{
	margin-left: 0px !important;
	margin-right: 0px !important;
}
.dashboard-text{
	display: inline;
	margin-right: 1em;
	vertical-align: bottom;
}
.dashboard-socialmedia{
	margin-bottom: 2.5em;
}
.dashboard-button{
	float:right;
	width: 63%;
}
#dashboard-acc-heading{
	margin-bottom: 1em;
}
.dashboard-donation-image{
	height: 34px;
	opacity: 0.7;
	float: left;
}
#dashboard-recent{
	margin-bottom: 1em;
}
.dashboard-donation-text{
	display: inline;
}
.donations div{
	margin-bottom: 1.5em;
}
.dashboard2{
	margin-left: 1em;
	padding-left: 15px;
	padding-right: 15px;
	background-color: #FFFFFA;
}
.firstpart{
	background-color: #FFFAFF;
}
.page-header{
	margin-top: 0.9em !important;
}
.sign-up-buttons{
	float: right;
	width: 70%;
}
.sign-up-paypal{
	width: 100%;
}
#error{
	width: 94%;
	margin-left: 3%;
	margin-top: 1.2em;
}
#inputtingbox{
	border: 0px;
	box-shadow: 0 0 0 0;
	border-radius: 0 0 0 0;
	width: 30%;
	min-width: 7em;
	float: left;
	font-size: 20pt;
	color: black;
	padding: 0px;
	margin: 0px;
	line-height: inherit;
}
#inputtingbox:focus{
	border-bottom: 1px solid black;
}
#hi{
	width: 2.6em;
	float: left;
}
.sign-up-margin{
	margin-bottom: 1.5em;
}
.sign-up-socmedia{
	padding-left: 0px !important;
	padding-right: 0px !important;
}
#searchbox1, #searchbox2, #searchbox3{
	border: 0px;
	box-shadow: 0 0 0 0;
	border-radius: 0 0 0 0;
	font-size: 1em;
	height: auto;
	color: black;
	padding: 0px;
	border-bottom: 1px solid black;
	margin: 0px;
	line-height: inherit;
	display: inline;
	background: 0;
}
#searchbox1{
	width: 60%;
}
#searchbox2{
	width: 67.9%;
}
#searchbox3{
	width: 50%;
}
#home-text{
	font-size: 500%;
	background-color: rgba(255, 255, 255, 0.1);
	padding: 20px;
}
.home-button{
	height: 1.6em;
	margin-left: 10px;
	font-size: 2em !important;
	background: 0 !important;
	border: 0 !important;
}
.home-button:active{
	background: 0 !important;
	border: none !important;
	box-shadow: none !important;
	margin-left: 15px;
}
.home-button:focus{
	border: none !important;
}

.new-campaign-label{
	width: 20%;
	min-width: 15em;
	float: left;
}
#campaign_charity, #campaign_location, #campaign_date, #campaign_event, #campaign_title, #campaign_description, #campaign_strgoaldesc, #campaign_event_url{
	width: 30%;
	min-width: 22em;
}
.Signup{
	width: 54%;
}
.input-group{
	width:30%;
	min-width: 17em;
}
.numbered{
	float: left;
}

.file-input .input-group{
	width: 100%;
}
.campaigner-field{
	max-width: 20em;
}
.sign-up{
	margin-top: 2em !important;
	max-width: 17em !important;
}
#alternative{
	margin-top: 10px;
}
#file-input-group{
	margin-bottom: 8px;
	margin-top: 8px;
}

#file-input {
	display: inline;
	width: 30% !important;
	min-width: 22em;
}

@media (max-width: 991px){
	#home-text{
		font-size: 200%;
		background-color: rgba(255, 255, 255, 0.7);
	}
	#searchbox1{
		width: 100%;
	}
	#searchbox2{
		width: 100%;
	}
	#searchbox3{
		width: 70%;
	}
	body{
		background: url(http://www.cash-is-cool.com/images/article/20110427161210shutterstock_17494123.jpg) no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
}

@media (max-width: 1080px){
	#home-text {
		font-size: 400%;
	}
}